*{
    margin: 0 ;
    padding: 0;
    font-family: 'poppins' , 'sans-serif';
    box-sizing: border-box; 
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-color:brown;
    color: white;
    position: relative;
}

.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.clock{
    width: 100%;
    height: 100%;
    background: rgba(red, green, blue, alpha);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}

.container::before{
    content: '';
    width: 180px;
    height: 180px;
    background: skyblue;
    border-radius: 2px;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}

.container::after{
    content: '';
    width: 180px;
    height: 180px;
    background: red;
    border-radius: 50%;
    position: absolute;
    right: -30px;
    bottom: -50px;
    z-index: -1;
}

.clock span {
    font-size: 50px;
    width: 110px;
    display: inline;
    text-align: center;
    position: relative;
}

.clock span::after {
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}

#hrs::after {
    content: 'hrs';
}

#min::after{
    content: 'min';
}

#sec::after{
    content: 'sec';
}
